* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 260px;
    opacity: .85;
    margin-top: -10%;
    margin-left: -10%;
}

nav ul li {
    margin-bottom: 30%;
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    transition: .5s;
}

nav ul li a:hover {
    -webkit-text-stroke: 2px black;
    color: transparent;
}

.content {
    text-align: center;

}

.content h1 {
    font-size: 65px;
    color: #fff;
    font-weight: 600;
    transition: .5s;

}

.content h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.content a {
    display: inline-block;
    color: #fff;
    font-size: 15 px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    text-decoration: none;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

}


@media only screen and (max-width:768px) {
    nav ul li {
        display: block;
        margin: 20px;
    }

    .content h1 {
        color: black;
        margin-top: 80%;
    }

    .content a {
        background-color: black;
        margin-top: 20%;
    }
}
